.logo-merger {
  background-color: $primary-color;
  height: 100px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.site-logo {
  top: 100%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
}

.testimonial-section {
  background-color: $grey;
  padding-top: 80px;
  padding-bottom: 80px;

  & .testimonial-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 50px 0px;
  }

  & .testimonial__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;

    &__title {
      align-items: center;
      margin: 0px 0px;
    }

    &__subtitle {
      align-items: center;
      margin-top: 4px;
    }
  }

  .testimonial-content {
    margin: -80px 0 0 -80px;
    width: calc(100% + 80px);

    & > .testimonial {
      margin: 80px 0px 0px 80px;
      width: 100%;
      max-width: 500px;
      height: 100%;
    }
  }

  // & .testimonial:not(:first-child) {
  //   margin-top: 100px;
  // }
}
