.headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
  height: 250px;
  width: 100%;

  &-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }

  &-button {
    margin-top: 45px;
  }
}

.logo-merger {
  background-color: $primary-color;
  height: 100px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.site-logo {
  top: 100%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
}
