.logo-merger {
  background-color: $primary-color;
  height: 100px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.site-logo {
  top: 100%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
}

.testimonial-section {
  background-color: $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 50px 0px;

  & > .testimonial {
    margin: 40px 40px 40px 40px;
    width: 100%;
    max-width: 500px;
    height: 100%;

    &__quote {
      font-size: 3000px !important;
      max-width: 350px;
    }
  }

  // & .testimonial:not(:first-child) {
  //   margin-top: 100px;
  // }
}
