.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  height: 400px;
  width: 100%;

  &-window {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    & svg {
      width: 100px;
      fill: $primary-color;
      background-color: white;

      & .gap {
        width: 45%;
      }
    }
  }

  &-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
  }

  &-button {
    margin-top: 65px;
  }
}

.logo-merger {
  background-color: $primary-color;
  height: 100px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.site-logo {
  top: 100%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
}
