$button-mobile-width: 70%;
$button-mobile-onHover-width: 75%;
$button-tablet-width: 300px;
$button-tablet-onHover-width: 350px;

a.button {
  padding: 13px 24px;
  background-color: transparent;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  //   text-transform: uppercase;
  cursor: pointer;
  border: 2px solid white;
  width: $button-mobile-width;
  transition: width 0.3s, background-color 0.3s, border-color 0.3s,
    box-shadow 0.3s, color 0.1s, -webkit-box-shadow 0.3s, text-shadow 0.1s;

  @media only screen and (min-width: $breakpoint-medium) {
    width: $button-tablet-width;
  }

  &:hover {
    color: $primary-color;
    background-color: white;
    text-shadow: 0 0px 0px #4d475100, 0 0 0px #4d475100, 0 0 0px #4d475100;
    width: $button-mobile-onHover-width;

    @media only screen and (min-width: $breakpoint-medium) {
      width: $button-tablet-onHover-width;
    }
  }

  &--important {
    background-color: $red;
    text-shadow: none;
    color: white;
    border: none;

    &:hover {
      width: $button-mobile-onHover-width;
      color: white;
      background-color: $red-dark;

      @media only screen and (min-width: $breakpoint-medium) {
        width: $button-tablet-onHover-width;
      }
    }
  }

  &--primary {
    background-color: $primary-color;
    color: white;

    &:hover {
      color: white;
      background-color: $primary-color-light;
      width: 75%;

      @media only screen and (min-width: $breakpoint-medium) {
        width: $button-tablet-onHover-width;
      }
    }
  }

  &--shadow {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
  }
}
