.cta-multiple-layout {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  height: 700px;

  background-color: $grey;
}
