.cta-multiple {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  width: 300px;
  margin-top: 80px;

  &__title,
  &__description {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
    color: white;
    padding: 0% 10%;
    text-align: center;
  }

  & a.button {
    width: 80%;

    &:hover {
      width: 85%;
    }
  }
}
