.cta-multiple-layout {
  background-color: orange;
  //height: 800px;
  width: 100vw;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-top: 60px;
    //  margin-bottom: 100px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 90px;

    @media only screen and (max-width: $breakpoint-medium) {
      padding: 0px 10px;
    }
  }
}

/**
*  Change padding and other stuff for media screen size on really small screens
*
*
*
* **/

.border-top {
  padding-top: 160px;
  border-bottom: 1px solid #d9d9d9;
  width: 80%;
}

.border-bottom {
  padding-top: 90px;
  border-bottom: 1px solid #d9d9d9;
  width: 80%;
}
