// MOVE TO OWN SCSS FILE
a.button {
  padding: 13px 24px;
  background-color: transparent;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  //   text-transform: uppercase;
  border: 2px solid white;
  width: 50%; // NEED NEW DEFAULT
  text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
  transition: width 0.3s, background-color 0.3s, border-color 0.3s,
    box-shadow 0.3s, color 0.1s, -webkit-box-shadow 0.3s, text-shadow 0.1s;

  &:hover {
    color: $primary-color;
    background-color: white;
    text-shadow: 0 0px 0px #4d475100, 0 0 0px #4d475100, 0 0 0px #4d475100;
    width: 55%;
  }

  &--important {
    background-color: $red;
    text-shadow: none;
    color: white;
    border: none;
    width: 70%;

    &:hover {
      width: 75%;
      color: white;
      background-color: $red-dark;
    }
  }

  // KEEP HERE MOVE
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.call-to-action {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  height: 500px; // Change depending on screen width
  overflow: hidden;
  position: relative;

  &__description,
  &__title {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
    color: white;
    padding: 0% 10%;
    text-align: center;
  }

  &__background-image-wrapper {
    position: absolute;
    width: 100%;
    z-index: -5;
  }

  &__background-image {
    height: 500px; // Change depending on screen width
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.darken-image::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #253136;
  opacity: 50%;
  z-index: 2000;
  position: absolute;
}
