a.button {
  padding: 13px 24px;
  background-color: #6504b5;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.call-to-action {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  height: 500px; // Change depending on screen width
  overflow: hidden;
  position: relative;

  &__description,
  &__title {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
    color: white;
  }

  &__background-image-wrapper {
    position: absolute;
    width: 100%;
    height: 500px; // Change depending on screen width
    z-index: -5;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.darken-image::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #253136;
  opacity: 40%;
  z-index: 2000;
  position: absolute;
}
