$container-height: 600px;

.call-to-action {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  height: $container-height; // Change depending on screen width
  // overflow: hidden;
  position: relative;

  & a.button {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  & .question {
    background-color: $secondary-color;
    height: 90px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid white;
    border-radius: 50px;
  }

  &__description,
  &__title {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
    color: white;
    padding: 0% 10%;
    text-align: center;
  }

  &__background-image-wrapper {
    position: absolute;
    width: 100%;
    z-index: -5;
  }

  &__background-image {
    height: $container-height; // Change depending on screen width
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .icon-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    z-index: 2000;
    left: 0%;
    bottom: -7%;
  }

  & .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    left: 0%;
    bottom: 10%;
  }

  & .question-theme--1 {
    background-color: $primary-color !important;
    color: white !important;
    border-color: $secondary-color !important;
  }
}

.darken-image::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #253136;
  opacity: 50%;
  z-index: 2000;
  position: absolute;
}
