.call-to-action {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
  height: 500px; // Change depending on screen width
  overflow: hidden;
  position: relative;

  & a.button {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__description,
  &__title {
    text-shadow: 0 1px 5px #4d4751, 0 0 2px #4d4751, 0 0 1px #4d4751;
    color: white;
    padding: 0% 10%;
    text-align: center;
  }

  &__background-image-wrapper {
    position: absolute;
    width: 100%;
    z-index: -5;
  }

  &__background-image {
    height: 500px; // Change depending on screen width
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.darken-image::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #253136;
  opacity: 50%;
  z-index: 2000;
  position: absolute;
}
