.header {
  height: 70px;
  background-color: white;
  // box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5555;
  top: 0;
  left: 0;

  &--shadow {
    // Only activate on hamburger
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  }

  &__title {
    font-size: 1.2rem;
    color: $primary-color;
    margin-right: auto;
    padding-left: 20px;
    font-weight: 600;
    width: 100%;
  }
}
