.header {
  height: 70px;
  background-color: white;
  // box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    color: $primary-color;
    font-weight: 600;
  }

  &__fill {
    width: 50%;
  }
}
