.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  height: 400px;
  width: 100%;

  &-window {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    & .gap {
      width: 45%;
    }

    & svg {
      width: 100px;
      fill: $primary-color;
      background-color: white;
    }
  }

  &-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
  }

  &-button {
    margin-top: 60px;
  }
}
