.navbar {
  height: 100%;
  overflow: visible;

  @media only screen and (min-width: $breakpoint-large) {
    margin-right: 50px;
  }

  .hamburger {
    display: none;

    @media only screen and (max-width: $breakpoint-medium) {
      display: block;
    }
  }
}
