.nav-dropdown {
  position: fixed;
  height: 0%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  background-color: $primary-color;
  z-index: 5000;
  font-size: $h1-font-size-mobile;
  -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);

  &--active {
    height: 100%;
    width: 100%;
    pointer-events: all;
    -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);

    & li {
      animation-name: animateIn !important;
      animation-duration: 250ms !important;
      animation-delay: calc(var(--animation-order) * 50ms) !important;
      animation-fill-mode: both !important;
      animation-timing-function: ease-in-out !important;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & li {
    margin-top: 40px;
    text-align: center;
    width: 300px;

    animation-name: animateOut;
    animation-duration: 150ms;
    // Set delay for each element
    animation-delay: calc(var(--animation-order) * 20ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  & a {
    color: $grey;
    display: inline-block;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    // TranslateY starts it a bit above and drops back to neutral position
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateOut {
  0% {
  }

  100% {
    opacity: 0;
    transform: scale(0) translateY(8px);
  }
}
