.nav-dropdown-mobile {
  display: none;
  position: fixed;
  height: 0%;
  width: 100%;
  pointer-events: none;
  background-color: $primary-color;
  z-index: 5000;
  font-size: $h1-font-size-mobile;
  overflow: visible;
  -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);

  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
  }

  &__item {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    &--1--expander {
      height: 0px;
      overflow: hidden;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--active {
    height: 100%;
    width: 100%;
    pointer-events: all;
    -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
    overflow: scroll;

    & li {
      animation-name: animateIn !important;
      animation-duration: 250ms !important;
      animation-delay: calc(var(--animation-order) * 50ms) !important;
      animation-fill-mode: both !important;
      animation-timing-function: ease-in-out !important;
    }
  }

  & li {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

    margin-top: 30px;
    width: 500px;
    animation-name: animateOut;
    animation-duration: 150ms;
    // Set delay for each element
    animation-delay: calc(var(--animation-order) * 20ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  & a,
  button {
    color: #ededed;
    display: block;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 100%;
    line-height: 50px;
    font-size: 1.9rem;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    // TranslateY starts it a bit above and drops back to neutral position
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateOut {
  0% {
  }

  100% {
    opacity: 0;
    transform: scale(0) translateY(8px);
  }
}
