.nav-dropdown {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  pointer-events: all;
  z-index: 5000;
  font-size: $h1-font-size-mobile;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & li {
    margin-top: 40px;
    text-align: center;
    width: 300px;
  }

  & a {
    color: $grey;
    display: inline-block;
  }
}
