.nav-dropdown {
  position: fixed;
  height: 0%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  background-color: $primary-color;
  z-index: 5000;
  font-size: $h1-font-size-mobile;
  -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);

  &__item {
    height: auto;
    margin-left: 10px;
    &--1--expander {
      height: 0px;
      overflow: hidden;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
    position: relative;
    background-color: white;

    &__list {
      flex-direction: row;
    }
  }

  &__list {
    @media only screen and (min-width: $breakpoint-large) {
      flex-direction: row;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: $breakpoint-medium) {
    // width: 85%;
    // position: relative;

    // &__list {
    //   flex-direction: row;
    // }

    // & li {
    //   opacity: 1 !important;
    //   transform: scale(0) transformY(0px);
    // }
  }

  &--active {
    height: 100%;
    width: 100%;
    pointer-events: all;
    -webkit-transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition: 0.6s cubic-bezier(0.475, 0.425, 0, 0.995);
    overflow: scroll;

    & li {
      animation-name: animateIn !important;
      animation-duration: 250ms !important;
      animation-delay: calc(var(--animation-order) * 50ms) !important;
      animation-fill-mode: both !important;
      animation-timing-function: ease-in-out !important;
    }
  }

  & li {
    margin-top: 0px;
    text-align: center;
    width: 150px;

    @media only screen and (max-width: $breakpoint-large) {
      margin-top: 100px;
      width: 500px;
      animation-name: animateOut;
      animation-duration: 150ms;
      // Set delay for each element
      animation-delay: calc(var(--animation-order) * 20ms);
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }
  }

  & a,
  button {
    color: #ededed;
    display: block;
    font-size: 2.9rem;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 100px;
    line-height: 100px;

    @media only screen and (min-width: $breakpoint-large) {
      color: black;
      line-height: initial;
      width: 150px;
      height: auto;
      font-size: $p-font-size-large;
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    // TranslateY starts it a bit above and drops back to neutral position
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateOut {
  0% {
  }

  100% {
    opacity: 0;
    transform: scale(0) translateY(8px);
  }
}
