.testimonial {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  padding: 80px 20px 20px 20px;
  align-items: center;

  -webkit-box-shadow: 10px 9px 26px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 9px 26px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 9px 26px -4px rgba(0, 0, 0, 0.3);

  &__svg {
    width: 30px;
    height: 30px;

    &--left {
      align-self: flex-start;
    }

    &--right {
      align-self: flex-end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    padding: 5px;
    width: 60%;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;

    -webkit-box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.64);
  }

  &__info {
    // margin-top: 50px;
  }

  &__quote {
    text-align: center;
    width: 350px;
    color: $grey-dark;
  }
}
