@import './reset.scss';
@import './base.scss';
@import './variables.scss';
@import './typography.scss';

@import '../pages/index.scss';

@import '../components/CTASection.scss';
@import '../components/Navbar.scss';
