$breakpoint-small: 480px;
$breakpoint-medium: 700px;
$breakpoint-large: 1024px;

$primary-color: rgb(13, 59, 78);
$primary-color-dark: rgb(11, 50, 66);
$primary-color-light: rgb(18, 81, 109);
$secondary-color: rgb(255, 242, 221);

$red: #d50000;
$red-dark: #9b0000;
