$breakpoint-small: 480px;
$breakpoint-medium: 700px;
$breakpoint-large: 1000px;

$primary-color: rgb(13, 59, 78);
$primary-color-dark: rgb(11, 50, 66);
$primary-color-light: rgb(38, 84, 109);
$secondary-color: rgb(255, 242, 221);

$red: #d50000;
$red-dark: #9b0000;

$grey: rgb(237, 237, 237);
$grey-dark: rgb(125, 125, 125);
